* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  /* Cores principais */
  :root {
    --primary-color: #1a1a1a; /* Fundo escuro */
    --highlight-color: #E93335; /* Vermelho neon */
    --button-color: #d6ca1b; /* prata para destaque */
    --secondary-color: #333; /* Cor de fundo das seções */
    --text-color: #fff; /* Texto branco */
    --hover-color: #388E3C; /* Cor para o hover no botão */
  }
  
  /* Corpo da página */
  body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
  }


  header {
   
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo h1  {
    
    color: (--text-color);  // var(--highlight-color); 
    font-size: 4rem;
  
    }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

header nav ul li a:hover {
  color: var(--highlight-color);
}
  
  
  /* Seção de Serviços */
  #servicos {
    padding: 80px 20px;
    text-align: center;
    background-color: var(--secondary-color);
  }
  
  #servicos h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: var(--text-color);
    font-weight: bold;
  }
  
  #servicos .service {
    display: inline-block;
    width: 30%;
    height: 20rem;
    background-color: #222;
    margin: 15px;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  #servicos .service:hover {
    background-color: var(--highlight-color);
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  }
  
  #servicos .service h3 {
    font-size: 2rem;
    margin-bottom: 15px;
  
  color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  #servicos .service:hover h3 {
    color: #fff;
  }
  
  #servicos .service p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  #servicos .service .button {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 12px 30px;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  
  #servicos .service .button:hover {
    background-color: var(--highlight-color);
    color: #fff;
    transform: scale(1.1);
  }
  
  /* Seção de Galeria */
  #galeria {
    padding: 80px 20px;
    text-align: center;
    background-color: #111;
  }
  
  #galeria h2 {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  #galeria .image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #galeria .image-gallery img {
    width: 25rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  #galeria .image-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  }
  
  /* Rodapé */
 

   /* Estilos para o Footer */
   .footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-section {
    margin: 20px;
    flex: 1;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.social-links .social-icons {
    display: flex;
    justify-content: space-around;
}

.social-links .social-icons a {
    font-size: 5rem;
    color: #f1f1f1;
    margin: 0 10px;
    transition: color 0.3s;

} 

.social-links .social-icons a:hover {
  color: #ffcc00;
}


.footer-bottom {
  background-color: #222;
  padding: 20px;
  color: #bbb;
  font-size: 0.9rem;
}

.footer-bottom p {
  margin: 0;
}


  @media (max-width: 768px) {
    header nav ul {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    #servicos h2 {
      font-size: 1.5rem;
    }
  
    #servicos .service {
      width: 90%; /* Serviços ocupam mais espaço em dispositivos móveis */
      margin-bottom: 30px;
    }
  
    #servicos .service h3 {
      font-size: 1.6rem;
    }
  
    #galeria h2 {
      font-size: 2.5rem;
    }
  
    #galeria .image-gallery {
      flex-direction: column;
    }
  
    #galeria .image-gallery img {
      width: 100%; /* Imagens ocupam 100% da largura */
      height: auto;
    }
  
    footer {
      padding: 15px;
    }
  }

  @media (max-width: 480px) {
    body {
      font-size: 14px;
    }
  
    #servicos .service {
      width: 100%; /* Um serviço por linha em telas muito pequenas */
    }
  
    #servicos .service h3 {
      font-size: 1.4rem;
    }
  
    #servicos .service p {
      font-size: 1rem;
    }
  
    #servicos .service .button {
      font-size: 1rem;
      padding: 10px 25px;
    }
  
  /* Responsividade para o footer */

@media screen and (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      text-align: center;
  }

}



  }
  
  
  
  